@{
    ViewData["Title"] = "Home Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
<div class="text-center">
    <h1 class="display-4"><img src="~/book.webp" height="80px" width="80px"><font color="#ffffff"> MineWiki</font></h1>
    <h2><font color="#ffffff">The Alphabet of Minecraft's Animals</font></h2>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="~/axosicon.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">A — Axolotl</h5>
      <p class="card-text">Ambystoma mexicanum, is a paedomorphic salamander closely related to the tiger salamander.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/beesicon.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">B — Bee</h5>
      <p class="card-text">Bees are winged insects closely related to wasps and ants, known for their roles in pollination and, in the case of the best-known bee species, the western honey bee, for producing honey.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/cowsicon.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">C — Cow</h5>
      <p class="card-text">Cattle (Bos taurus) are large, domesticated, cloven-hooved, herbivores.</p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="~/dolphinicon.jpg" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">D — Dolphin</h5>
      <p class="card-text">Dolphins are part of the toothed whales. Generally, they are among the smaller whales. Most live in salt water oceans, but some live in rivers – there are oceanic dolphins and river dolphins.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/capaender.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">E — EnderDragon</h5>
      <p class="card-text">The ender dragon is a gigantic flying hostile boss mob found when first entering the End. She is the largest naturally spawning mob in the game.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/foxfox.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">F — Fox</h5>
      <p class="card-text">The fox has pointed ears, narrow snout, and a bushy tail. Foxes are swift and agile runners which live in family groups. A female fox is called a vixen, and a male is called a dog. Foxes' tails are multi-purpose organs.</p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="~/goat.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">G — Goat</h5>
      <p class="card-text">The goat or domestic goat (Capra hircus) is a domesticated species of goat-antelope typically kept as livestock. </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/horse.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">H — Horse</h5>
      <p class="card-text">The horse (Equus ferus caballus) is a domesticated, one-toed, hoofed mammal. It belongs to the taxonomic family Equidae and is one of two extant subspecies of Equus ferus. </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/llama.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">L — Llama</h5>
      <p class="card-text">A llama is a South American animal with thick hair, which looks like a small camel without a hump.</p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="~/mule.webp" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">M — Mule</h5>
      <p class="card-text">A mule is an animal whose parents are a horse and a donkey.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/ocelot.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">O — Ocelot</h5>
      <p class="card-text">The ocelot (Leopardus pardalis) is a medium-sized spotted wild cat that reaches 40–50 cm (15.7–19.7 in) at the shoulders and weighs between 7 and 15.5 kg (15.4 and 34.2 lb) on average.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/parrot.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">P — Parrot</h5>
      <p class="card-text">Parrots are beautiful medium-sized birds that live in forests. Parrots are not only found in India but also in various warm countries.</p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="~/rabbit.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">R — Rabbit</h5>
      <p class="card-text">Rabbits are herbivorous animals that like to eat leaves, fruits, veggies, plants, and grass.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/salmon.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">S — Salmon</h5>
      <p class="card-text">Salmon (/ˈsæmən/) is the common name for several commercially important species of euryhaline ray-finned fish from the family Salmonidae, which are native to tributaries of the North Atlantic (genus Salmo) and North Pacific (genus Oncorhynchus) basin.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/turtle.gif" alt="Card image cap" height="155px">
    <div class="card-body">
      <h5 class="card-title">T — Turtle</h5>
      <p class="card-text">Turtles are an order of reptiles known as Testudines, characterized by a shell developed mainly from their ribs.</p>
    </div>
  </div>
</div>

  <div class="card">
    <img class="card-img-top" src="~/wolf.gif" alt="Card image cap" height="355px">
    <div class="card-body">
      <h5 class="card-title">W — Wolf</h5>
      <p class="card-text">The wolf (Canis lupus; PL: wolves), also known as the gray wolf or grey wolf, is a large canine native to Eurasia and North America.</p>
    </div>
  </div>